/* rows & cols */ .col .row{margin-left:-.75rem;margin-right:-.75rem}.row{margin-left:auto;margin-right:auto;margin-bottom:20px}.row:after{content:"";display:table;clear:both}.row .col{float:left;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 .75rem;min-height:1px}.row .col[class*=pull-],.row .col[class*=push-]{position:relative}.row .col.s1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.s4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.s7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.s10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s12{width:100%;margin-left:auto;left:auto;right:auto}@media only screen and (min-width:601px){.row .col.m1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.m4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.m7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.m10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m12{width:100%;margin-left:auto;left:auto;right:auto}}@media only screen and (min-width:993px){.row .col.l1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.l4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.l7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.l10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l12{width:100%;margin-left:auto;left:auto;right:auto}}@media only screen and (min-width:1201px){.row .col.xl1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.xl4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.xl7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.xl10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl12{width:100%;margin-left:auto;left:auto;right:auto}}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #fafafa;
	color: #333432;
	margin: 0;
}

/* container */

.container {
	margin: 0 auto;
	width: calc(100% - 24px);
}

@media only screen and (min-width: 601px) {
	.container:not(.big-container) {
		width: 96%;
	}
}

@media only screen and (min-width: 993px) {
	.container:not(.big-container) {
		width: 85%;
	}
}

.with-sidebar .big-container.container {
	width: calc(100% - 1.55rem);
}

/* basics */

img {
	border: 0;
	max-width: 100%;
}

a {
	color: rgb(114, 148, 50);
	cursor: pointer;
	transition: color 0.15s ease-in-out;
}

a:hover {
	color: rgb(132, 170, 63);
}

a.hoverUnderline:hover {
	text-decoration: underline;
}

a.txt-inherit:hover {
	color: inherit;
}

a.txt-red:hover {
	color: #e62626;
}

a.icon span {
	display: inline-block;
	vertical-align: middle;
}

a.icon.left .material-icons, .button.icon.left .material-icons {
	margin-right: 0.35rem;
}

a.icon.right .material-icons, .button.icon.right .material-icons  {
	margin-left: 0.35rem;
}

/* helpers */

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-il-center {
	display: inline-flex;
	align-items: center;
}

.flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

.vam {
	display: inline-block;
	vertical-align: middle;
}

.dsp-i {
	display: inline;
}

.dsp-b {
	display: block;
}

.dsp-ib {
	display: inline-block;
}

.pos-r {
	position: relative;
}

.rounded {
	border-radius: 8px;
}

.rounded-small {
	border-radius: 6px;
}

.rounded-large {
	border-radius: 12px;
}

.rounded-x-large {
	border-radius: 25px;
}

.shadow {
	box-shadow: 0 0 8px rgba(10, 10, 10, 0.3);
}

/* text helpers */

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-bold {
	font-weight: bold;
}

.txt-inherit {
	color: inherit;
}

.txt-white {
	color: #fff;
}

.txt-primary {
	color: #b1c357;
}

.txt-red {
	color: #c91414;
}

.txt-ww-ba {
	word-break: break-all;
}

.txt-upper {
	text-transform: uppercase;
}

.txt-shadow {
	text-shadow: 1px 1px rgba(40, 40, 40, 0.6);
}

.txt-shadow-spread {
	text-shadow: 0 0 8px rgba(40, 40, 40, 0.38);
}

.txt-nolh,
.txt-nlh {
	line-height: 0;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.title {
	margin: 1rem 0;
	font-size: 1.8rem;
}

h2.title {
	font-size: 1.5rem;
}

/* layout */

.fullpage-center {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.with-sidebar {
	margin-left: 250px;
}

.width-xs {
	max-width: 500px;
}

.width-sm {
	max-width: 720px;
}

.width-m {
	max-width: 812px;
}

.width-l {
	max-width: 1080px;
}

.width-xl {
	max-width: 1280px;
}

/* margins */

.m-xsmall {
	margin-top: 0.5rem;
}

.m-small {
	margin-top: 1rem;
}

.m-smedium {
	margin-top: 1.5rem;
}

.m-medium {
	margin-top: 2rem;
}

.m-slarge {
	margin-top: 2.5rem;
}

.m-large {
	margin-top: 3rem;
}

.m-xlarge {
	margin-top: 4rem;
}

.loader {
	display: inline-block;
	text-align: center;
	border: 5px solid transparent;
	border-radius: 50%;
	border-top: 5px solid rgb(130, 168, 58);
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 35px;
	height: 35px;
	-webkit-animation: spin 0.4s linear infinite;
	animation: spin 0.4s linear infinite;
}

.loader.small {
	border-width: 3px;
	width: 20px;
	height: 20px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* buttons */

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 0.5rem 1.65rem;
	background-color: #ffffff;
	border: 1px solid #bec4ac;
	color: rgb(121, 156, 54);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s;
}

.button:hover {
	background-color: #f1f3ea;
}

.button:active, .button:focus {
	background-color: #e2e6d6;
}

.button.small {
	padding: 0.25rem 1rem;
}

.button.primary {
	border-color: rgb(121, 156, 54);
	background-color: rgb(121, 156, 54);
	color: rgba(255, 255, 255, 0.98);
}

.button.primary:hover {
	border-color: rgb(130, 168, 58);
	background-color: rgb(130, 168, 58);
}

.button.primary:active {
	border-color: rgb(102, 131, 47);
	background-color: rgb(102, 131, 47);
}

.button.primary:focus {
	border-color: rgb(102, 131, 47);
	background-color: rgb(102, 131, 47);
	color: rgba(255, 255, 255, 0.9);
}

.button:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(121, 156, 54, 0.55);
}

.button.icon {
	align-items: center;
	padding: 0.5rem 1.15rem;
}

.button.icon .material-icons {
	font-size: 1.2rem;
}

.button.icon span {
	display: inline-block;
	vertical-align: middle;
}

/* cards */

.card {
	padding: 1.25rem;
	background-color: #fff;
	border-radius: 6px;
}

.card.w-shadow {
	box-shadow: 0 1px 11px rgba(10, 10, 10, 0.24);
}

.card.center-sm {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}

.card .title {
	margin-top: 0;
}

.card li {
	margin-bottom: 0.35rem;
}

.logo {
	text-align: center;
	max-height: 43px;
	/* 	line-height: 0; */
}

/* errors */

.error {
	padding: 0.55rem 0.6rem;
	background-color: #ffcccc;
	border: 1px solid #fabdbd;
	color: #b10606;
	border-radius: 4px;
}

/* forms and inputs */

.form .error {
	margin: 0 0 0.75rem 0;
}

.form .title {
	color: #343432;
	margin-top: 0;
}

.input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-decoration: none;
	padding: 9px 0.9rem;
	font-size: 0.95rem;
	color: inherit;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #dedfd7;
	border-radius: 5px;
	transition: all 0.15s;
}

.input:focus {
	outline: 0;
	border-color: rgb(121, 156, 54);
	box-shadow: 0 0 0 2px rgba(121, 156, 54, 0.55);
}

.input:disabled {
	cursor: not-allowed;
}

.input.dsp-b {
	width: 100%;
	margin-bottom: 0.35rem;
}

.stacked-inputs div:focus-within {
	position: relative;
	z-index: 2;
}

.stacked-inputs .input {
	padding: 10px 0.9rem;
	margin-bottom: -1px;
}

.stacked-inputs .float-input:not(:last-child, :first-child) .input {
	border-radius: 0;
}

.stacked-inputs .float-input:first-child .input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.stacked-inputs .float-input:last-child .input {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 0.35rem;
}

select.input {
	padding: 9px 1.7em 9px 0.95rem;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23799c36%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
	background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.form-submit {
	margin-top: 1rem;
}

/* tables */

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
}

table th, table td {
	padding: 8px;
}

table tr {
	/* border-bottom: 1px solid rgba(200, 200, 200, 0.75); */
}

table tr:nth-child(even){
	background-color: rgb(241, 241, 241);
}

table:not(.no-hover) tr:hover {
	background-color: rgb(237, 237, 237);
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(114, 148, 50);
	color: #fff;
}

table th:first-child {
	border-top-left-radius: 5px;
}

table th:last-child {
	border-top-right-radius: 5px;
}

table .tb-footer {
	background-color: rgb(233, 233, 233);
}

table .tb-footer td {
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

table .icon {
	display: inline-block;
	vertical-align: middle;
}

/* labels */

.label {
	display: inline-block;
	vertical-align: middle;
	padding: 2px 4px;
	background-color: rgba(225, 228, 220, 0.9);
	border-radius: 2px;
	margin: 1px 0;
}

.label:not(:last-child) {
	margin-right: 4px;
}

/* actions */

.actions > span, .actions > a {
	text-decoration: none;
	color: rgb(153, 153, 153);
	transition: all 0.15s;
	cursor: pointer;
}

.actions > span:not(:first-child), .actions > a:not(:first-child) {
	margin-left: 0.5rem;
}

.actions .icon {
	margin-right: 0.15rem;
}

.browse:hover {
	color: rgb(121, 191, 231);
}

.browse:active, .browse:focus {
	color: rgb(110, 177, 216);
}

.setkey:hover {
	color: rgb(125, 180, 73);
}

.setkey:active, .trash.focus {
	color: rgb(140, 207, 77);
}

.edit:hover {
	color: rgb(226, 210, 61);
}

.edit:active, .edit.focus {
	color: rgb(218, 202, 60);
}

.operations:hover {
	color: rgb(77, 207, 168);
}

.operations:active, .operations:focus {
	color: rgb(73, 194, 158);
}

.trash:hover {
	color: rgb(250, 87, 87);
}

.trash:active, .trash.focus {
	color: rgb(223, 83, 83);
}

/* sidebar */

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	background-color: #ebebeb;
	box-shadow: inset 0 0 8px rgba(11, 11, 11, 0.2);
	z-index: 100;
}

.sidebar .sidebar-container {
	padding: 0.75rem;
}

.sidebar .logo {
	max-height: 25px;
	margin: 0.35rem auto;
}

/* nav-links */

.nav-links {
	margin: 0.5rem 0 0.2rem 0;
}

.nav-link {
	color: #6b6b6b;
	text-decoration: none;
	transition: all 0.15s;
}

.nav-link:hover {
	color: #8c8c8c;
}

/* nav-tree */

.nav-tree {
	margin-left: 0.5rem;
}

.tree-item {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 92%;
	padding: 0.4rem 0.55rem 0.4rem 0.75rem;
	border-radius: 0.3rem 0 0 0.3rem;
	color: rgb(74, 75, 72);
	cursor: pointer;
	transition: background-color 0.1s;
}

.tree-item:hover {
	background-color: rgba(188, 198, 159, 0.28);
	color: rgb(74, 75, 72);
}

.tree-item:active {
	background-color: rgba(157, 167, 129, 0.32);
	color: rgba(74, 75, 72, 0.96);
}

.tree-item.active {
	background-color: rgba(121, 156, 54, 0.9);
	color: rgba(255, 255, 255, 0.98);
}

.tree-items .tree-items {
	margin-left: 0.75rem;
}

.tree-item .material-icons {
	font-size: inherit;
	margin-left: 0.25rem;
}

.tree-item.icon-left .material-icons {
	margin-left: 0;
	margin-right: 0.25rem;
}

.tree-item .icon-right {
	margin-right: 0.45rem;
}

.tree-item a.icon-right:hover {
	color: rgb(132, 170, 63);
}

.tree-item.active a.icon-right:hover {
	color: rgb(255, 255, 255);
}

/* topbar */

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	background-color: #fff;
	min-height: 2rem;
}

.with-sidebar .topbar {
	left: 250px;
}

#menuBtn {
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 1.25rem;
	padding: 0.15rem;
	margin-right: 0.25rem;
	border-radius: 0 0.35rem 0.35rem 0;
	cursor: pointer;
}

#menuBtn:hover {
	background-color: rgba(255, 255, 255, 0.55);
}

.topbar .server-info .topbar-container {
	min-height: 2rem;
	padding: 0.05rem 0.5rem 0.05rem 0;
}

.topbar .server-info {
	background-color: #dedede;
	font-size: 0.9rem;
	color: #595959;
}

.topbar .server-info a {
	color: #333432;
    text-decoration: none;
}

.topbar .server-info a:hover span:not(.material-icons) {
	text-decoration: underline;
}

.topbar .icon {
	font-size: 1rem;
}

.topbar #serverInfo {
	margin-left: 0.45rem;
}

.topbar .breadcrumbs {
	display: flex;
	align-items: center;
}

.topbar .breadcrumbs .arrow {
	margin: 0 0.15rem;
	color: rgba(89, 89, 89, 0.8);
}

.topbar .breadcrumbs a {
	display: inline-flex;
	align-items: center;
}

.topbar .breadcrumbs a .icon {
	margin-right: 0.2rem;
}

.topbar .nav-tabs {
	display: flex;
	position: relative;
	background-color: #b8b8b8;
	padding: 0.45rem 0 0 0.75rem;
	z-index: -2;
}

.topbar .nav-tabs .has-shadow {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	height: 100%;
	width: 100%;
	box-shadow: inset 0 -1px 3px  rgba(0, 0, 0, 0.22);
	z-index: -1;
}

.topbar .nav-tab {
	display: inline-flex;
	align-items: center;
	padding: 0.45rem 1.2rem;
	text-decoration: none;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	transition: all 0.15s;
	margin-right: 0.35rem;
	z-index: 1;
}

.topbar .nav-tab .icon {
	margin-right: 0.35rem;
}

.topbar .nav-tab:hover {
	background-color: rgba(255, 255, 255, 0.57);
}

.topbar .nav-tab.active {
	background-color: #fafafa;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
	z-index: 5;
}

.topbar-height {
	height: 4.65rem;
}
